@import '../../vars.scss';

.catalogue {
  padding: 40px 0;
  max-width: $container-mxWidth;
  margin: 0 auto;

  .container{
    max-width: $container-mxWidth;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}